# Server
API_VERSION=v1.0
PORT=4545

# JWT
JWT_SECRET=your_jwt_secret_here

# Database
DB_NAME=your_db_name
DB_HOST=your_db_host
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
# DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

# EMQX / MQTT
EMQX_CLIENT_ID="your-client-id"
EMQX_API_KEY="mqtts://your-emqx-host"
EMQX_USERNAME="your_emqx_username"
EMQX_PASSWORD="your_emqx_password"

# MSG91 SMS
MSG91_SMS_API_KEY=your_msg91_api_key
MSG91_SMS_TEMPLATE_ID=your_msg91_template_id

# Firebase Cloud Messaging (FCM)
FCM_TYPE=service_account
FCM_PROJECT_ID=your_firebase_project_id
FCM_PRIVATE_KEY_ID=your_private_key_id
FCM_PRIMERY_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n"
FCM_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FCM_CLIENT_ID=your_client_id
FCM_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FCM_TOKEN_URI=https://oauth2.googleapis.com/token
FCM_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FCM_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project.iam.gserviceaccount.com
FCM_UNIVERSE_DOMAIN=googleapis.com

# AWS S3
AWS_S3_BUCKET=your_s3_bucket_name
AWS_S3_ACCESS_KEY_ID=your_aws_access_key_id
AWS_S3_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_REGION=ap-south-1
